# Dependencias y Compilación
node_modules/
dist/
npm-debug.log*
yarn-debug.log*

# Credenciales y Secretos
.env
*.env

# Base de Datos y Logs Temporales
*.db
*.db-wal
*.db-shm
*.db-journal
*.log

# IDEs
.vscode/
.idea/
.DS_Store
